<div class="container py-5">
    <div class="carasoul row">
        <div class="col-md-9 px-0">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide >
                    <img class="w-100" height="500px" src="assets/images/main-slider-3.jpeg" >
                </ng-template>
                <ng-template carouselSlide >
                    <img class="w-100" height="500px" src="assets/images/main-slider-2.jpeg" >
                </ng-template>
                <ng-template carouselSlide >
                    <img class="w-100" height="500px" src="assets/images/main-slider-1.jpeg" >
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="col-md-3 px-0">
            <img class="w-100" src="assets/images/blog-img-1.jpeg" height="250px" alt="">
            <img class="w-100" src="assets/images/blog-img-2.jpeg" height="250px"  alt="">
        </div>
    </div>

    <div class="carasoul">
        <owl-carousel-o [options]="customOptionsCat">
            @for (category of categoriesArr; track $index) {
                <ng-template carouselSlide >
                <img class="w-100" height="200px" [src]="category.image">
                <h6>{{category.name}}</h6>
                </ng-template>
            }
        </owl-carousel-o>
    </div>

    <div class="row gy-2 align-items-center">
        <div class="w-100">
            <input [(ngModel)]="searchVal" type="text" class="form-control w-75 mx-auto my-2" placeholder="search">
        </div>
        @for(product of productsArr | search: searchVal; track $index){
            <div class="col-md-2 my-product shadow-sm overflow-hidden">
                <div class="align-self-sm-center"  [routerLink]="['/productDetails', product._id]">
                    <img [src]="product.imageCover" class="w-100 img-fluid" alt="">
                    <p class="text-main">{{product.category.name}}</p>
                    @if (product.title) {
                        <h1 class="h6">{{product.title.split(' ').slice(0,3).join(' ')}}</h1>
                    }
                    <div class="d-flex justify-content-between">
                        <p>{{product.price | currency:'EGP'}}</p>
                        <p> <i class="fa-solid fa-star text-warning"></i>{{product.ratingsAverage}}</p>
                    </div>
                </div>
                <button (click)="addToCart(product._id)" class="my-2 bg-main btn text-light w-100 align-self-end">Add To Cart</button>
            </div>
        }
        
    </div>
</div>

@if(isLoading){
<div
    class="d-flex justify-content-center align-items-center vh-100 w-100 overflow-hidden z-3 position-fixed top-0 bottom-0 start-0 end-0 bgMainLight">
    <i class="fa-solid fa-spin fa-spinner fa-10x"></i>
</div>
}