<div class="w-75 my-3 mx-auto">
    <h3 class="text-main">Register Now</h3>
    <h1 class="text-danger">{{errorMessage}}</h1>
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-3">
            <label for="name">Name: </label>
            <input formControlName="name" name="name" class="form-control">
            @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
            <div class="alert alert-danger my-1">
                @if(registerForm.get('name')?.errors?.['required']){
                <p>Name is Required</p>
                }
                @else if (registerForm.get('name')?.errors?.['minlength']) {
                <p>Name should be more than 3 char.</p>
                }
                @else if (registerForm.get('name')?.errors?.['maxlength']) {
                <p>Name should be less than 20 char.</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="email">email: </label>
            <input formControlName="email" name="email" class="form-control">
            @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched){
            <div class="alert alert-danger my-1">
                @if (registerForm.get('email')?.errors?.['required']) {
                <p>Email is Required</p>
                }
                @else if(registerForm.get('email')?.errors?.['email']) {
                <p>email must be valid</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="phone">phone: </label>
            <input formControlName="phone" name="phone" class="form-control">
            @if(registerForm.get('phone')?.errors && registerForm.get('phone')?.touched){
            <div class="alert alert-danger my-1">
                @if(registerForm.get('phone')?.errors?.['required']){
                <p>Phone is Required</p>
                }
                @else if (registerForm.get('phone')?.errors?.['pattern']) {
                <p>Invalid phone Number</p>
                }
            </div>
            }

        </div>
        <div class="my-3">
            <label for="password">password: </label>
            <input formControlName="password" name="password" class="form-control">
            @if(registerForm.get('password')?.errors && registerForm.get('password')?.touched){
            <div class="alert alert-danger my-1">
                @if(registerForm.get('password')?.errors?.['required']){
                <p>Password is Required</p>
                }
                @else if (registerForm.get('password')?.errors?.['pattern']) {
                        <p>Password must be from 8 to 12 characters which contain:
                            <br>- Capital Letter
                            <br>- Small Letter
                            <br>- Special Character ($!%*&#64;?&)
                            <br>- Number</p>
                }
            </div>
            }
        </div>
        <div class="my-3">
            <label for="rePassword">RePassword: </label>
            <input formControlName="rePassword" name="rePassword" class="form-control">
            @if(registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched){
            <div class="alert alert-danger my-1">
                @if(registerForm.get('rePassword')?.errors?.['required']){
                <p>rePassword is Required</p>
                }
                @else if (registerForm.get('rePassword')?.errors?.['pattern']) {
                        <p>Password must be from 8 to 12 characters which contain:
                            <br>- Capital Letter
                            <br>- Small Letter
                            <br>- Special Character ($!%*&#64;?&)
                            <br>- Number</p>
                }
            </div>
            }
        </div>
        @if (registerForm.errors?.['passwordMatched'] && registerForm.get('password')?.touched &&
        registerForm.get('rePassword')?.touched) {
        <div class="alert alert-danger">
            <p>Password Not Matched</p>
        </div>
        }

        <button [disabled]="registerForm.invalid" type="submit" class="btn bg-main text-white ms-auto d-block">Register
            @if (isLoading) {
            <i class="fa-solid fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>