<h4 class="text-danger text-center">{{errorMessage}}</h4>

<form class="mx-auto w-75 py-2" [formGroup]="resetPassword" (ngSubmit)="newPassword()">
    <h3 class=" text-main">Enter your new password</h3>
    <input type="Email" class="form-control my-3" formControlName="email" placeholder="Enter Your Email">
    @if(resetPassword.get('email')?.errors && resetPassword.get('email')?.touched){
        <div class="alert alert-danger">
            @if(resetPassword.get('email')?.errors?.['required']){
                <p>Email is required</p>
            }
            @if (resetPassword.get('email')?.errors?.['email']) {
                <p>Email is Not Valid</p>
            }
        </div>
    }

    <input formControlName="newPassword" name="newPassword" type="text" class="form-control my-3" placeholder="Enter Your New Password">
    @if(resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched){
        <div class="alert alert-danger my-1">
            @if (resetPassword.get('newPassword')?.errors?.['required']) {
                <p>newPassword is Required</p>
            }
            @else if (resetPassword.get('newPassword')?.errors?.['pattern']) {
                <p>newPassword must be from 8 to 12 characters which contain:
                    <br>- Capital Letter
                    <br>- Small Letter
                    <br>- Special Character ($!%*&#64;?&)
                    <br>- Number</p>
            }
        </div>
    }
    <button [disabled]="resetPassword.invalid" class="my-1 bg-main text-light btn ms-auto">Verify New Password
        @if(isLoading){
            <i class="fa-solid fa-spin fa-spinner"></i>
        }
    </button>
</form>