/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --font-family: 'encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
}

body{
    font-family: var(--font-family);
}

.rating-color{
    font-family: var(--rating-color);
}

.cursor-pointer{
    cursor: pointer;
}

a, a:hover{
    color: black;
    text-decoration: none;
}

.text-main{
    color: var(--main-color);
}

.bg-main{
    background-color: var(--main-color) !important;
}

.bg-main-light{
    background-color: var(--light-color) !important;
}

.brd{
    background-color: var(--light-color);
    height: 2px;
}
